<%= form_with(model: desk, local: true) do |form| %>
  <% if desk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(desk.errors.count, "error") %> prohibited this desk from being saved:</h2>

      <ul>
      <% desk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :desk_name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :desk_location %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.number_field :time, id: :desk_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
