<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @doctor.first_name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @doctor.time %>
</p>

<%= render partial: "appoints/appoints", locals: {appointable: @doctor} %>
<%= render partial: "appoints/form", locals: {appointable: @doctor} %>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
